* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

span {
    display: inline-block;
}

body {
    background-color: #e0e0e0;
}

header {
    height: 100px;
    background-color: #fff;
}

#logo-image {
    height: 80px;
}

#logo-text {
    display: inline-block;
    font-size: 50px;
}

main {
    margin: 50px auto;
    width: 1000px;
}

nav {
    background: #fff;
    height: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    line-height: 60px;
}

.add {
    height: 30px;
    border-radius: 5px;
    padding: 4px;
}

.task {
    border: none;
    background: #47adf1;
    color: #fff;
}

.section {
    border: 1px solid #b5b5b5;
    background: #fff;
    color: #b5b5b5;
}

.body-list {
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

ul {
    list-style: none;
}

.selezione {
    border: 2px solid;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 15px;
}

.tag {
    height: 30px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
}

.fatto {
    color: #65c0a9;
}

.non-fatto {
    color: #eb5952;
}

.editorial {
    background-color: #45abea;
}

